body {
  overflow: hidden;
  background: #345995; /* Bluish background color */
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background-color: #003366;
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center; /* Center the navigation items horizontally */
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #ffc107;
}

#tetris {
  width: 360px;
  margin: 55px auto; /* Center the game */
  border: 1px solid white;
  border-radius: 10px; /* Rounded corners */
  padding: 10px;
}

#canvas {
  width: 200px;
  height: 440px;
  background-color: #3b6369;
  position: relative;
  color: #fff;
}

#canvas h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  padding-top: 200px;
}

.piece {
  border: 1px solid white;
  position: absolute;
}

#start {
  animation: blink 0.7s steps(2, start) infinite;
  background: #e1ff5f;
  border-radius: 2px;
  color: #202020;
  cursor: pointer;
  font-size: 28px;
}

@keyframes blink {
  to {
    outline: #076b0b solid 1px;
  }
}

.red {
  color: #f00000;
}

.square {
  position: absolute;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

.type0 {
  background-color: #a000f0;
}

.type1 {
  background-color: #00f0f0;
}

.type2 {
  background-color: #f0a000;
}

.type3 {
  background-color: #0000f0;
}

.type4 {
  background-color: #00f000;
}

.type5 {
  background-color: #f00000;
}

.type6 {
  background-color: #f0f000;
}

#next_shape {
  position: relative;
  background-color: #3b6369;
  border: 1px solid white;
  border-radius: 10px;
  width: 110px;
  height: 110px;
}

#info {
  background-color: #3b6369;
  color: #fff;
  float: right;
  width: 110px;
  height: 420px;
  padding: 10px;
}
