/**
 * Game Fonts
 */
@font-face {
	font-family: "Whimsy TT";
	font-style: normal;
	font-weight: normal;
	src: local("Whimsy TT"), url("../fonts/whimsytt.ttf") format("truetype");
}



/**
 * Main Styles
 */

nav {
  background-color: #003366;
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center; /* Center the navigation items horizontally */
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #ffc107;
}

html, body, input {
	font-family: "Whimsy TT";
	font-size: 12px;
	line-height: 1.5em;
	color: white;
}

h1 {
	font-size: 6em;
	font-weight: normal;
	text-align: center;
}
h2 {
    font-size: 4.5em;
    text-align: center;
}

a {
	color: rgb(204, 204, 204);
	text-decoration: none;
	font-size: 2em;
	line-height: 1.5em;
    transition: all 0.2s;
	outline: none;
}
	a:hover {
		color: white;
		font-size: 2.5em;
		line-height: 1.2em;
	}




